@import 'tailwindcss';

@theme {
  /* Tokyo Night color overrides */
  --color-red: #f7768e;
  --color-orange: #ff9e64;
  --color-yellow: #e0af68;
  --color-green: #9ece6a;
  --color-teal: #73daca;
  --color-cyan: #7dcfff;
  --color-blue: #7aa2f7;
  --color-purple: #bb9af7;
  --color-white: #c0caf5;

  /* Custom Tokyo Night colors */
  --color-cyan-light: #b4f9f8;
  --color-cyan-alt: #2ac3de;
  --color-yellow-muted: #cfc9c2;
  --color-blue-muted: #42548e;

  /* greyscale using Tokyo Night greys */
  --color-grey-100: #a9b1d6;
  --color-grey-200: #9aa5ce;
  --color-grey-400: #565f89;
  --color-grey-600: #666f9d;
  --color-grey-700: #414868;
  --color-grey-800: #24283b;
  --color-grey-900: #1a1b26;
}

button {
  cursor: pointer;
}
